@import "root.css";
@import "header.css";

.main {
    background-color: #EAF5F3;
    border-radius: 2rem;
    margin: 3rem 25rem;
    padding: 4rem 0;
}

.formulario {
    text-align: center;
}

.formulario .form-input {
    margin-bottom: 20px;
}

.formulario label {
    font-size: 24px;
}

.formulario input {
    width: 30vw;
    height: 2rem;
    padding: 0 .5rem;
    margin-left: 5px;
}

.formulario button {
    width: 6rem;
    height: 1.5rem;
    color: #000000;
    background-color: #EAF5F3;
    cursor: pointer;
    margin-top: 2rem;
}